# pyproject.toml
[tool.pytest.ini_options]
addopts = "-ra -q"
testpaths = ["tests"]
filterwarnings = [
    "ignore::ResourceWarning",
    "ignore::jwt.exceptions.InsecureKeyLengthWarning",
    "ignore::pytest.PytestUnraisableExceptionWarning"
]